.root {
  padding: 0 calc(1 / 21 * 100%);
}

.intro {
  padding-bottom: calc(var(--yr) * 32);
  background: url(../../images/back.svg) left 45% no-repeat;
  background-size: auto 30%;

  & h1, & p {
    max-width: 40rem;
  }

  @media (--s) {
    padding-bottom: calc(var(--yr) * 92);
  }

  @media (--l) {
    background: url(../../images/back.svg) left 35% no-repeat;
    background-size: 100% auto;

  }
}

.h0 {
  composes: h0 from '../Fonts.module.css';
}

.works {
  /* margin-bottom: calc(var(--yr) * var(--s4) * 2); */
}

.services {
  margin-bottom: calc(var(--yr) * var(--s4));
}

.vacancies {
  margin-bottom: calc(var(--yr) * var(--s4));
}
