.h0 {
  font-size: calc(var(--yr) * calc(var(--fs) + 5));
  line-height: calc(var(--yr) * calc(var(--lh) + 4));
  font-weight: var(--fw_normal);

  @media (--s) {
    font-size: calc(var(--yr) * calc(var(--fs) + 11));
    line-height: calc(var(--yr) * calc(var(--lh) + 12));
  }
}

h1,
.h1 {
  font-size: calc(var(--yr) * calc(var(--fs) + 9));
  line-height: calc(var(--yr) * calc(var(--lh) + 8));
  font-weight: var(--fw_normal);
}

h2,
.h2 {
  font-size: calc(var(--yr) * calc(var(--fs) + 5));
  line-height: calc(var(--yr) * calc(var(--lh) + 4));
  font-weight: var(--fw_normal);
}

h3,
.h3 {
  font-size: calc(var(--yr) * calc(var(--fs) + 3));
  line-height: calc(var(--yr) * calc(var(--lh) + 1));
  font-weight: var(--fw_normal);
}

strong, b {
  font-weight: var(--fw_bold);
}

.xt {
  font-size: calc(var(--yr) * calc(var(--fs) + 2));
  line-height: calc(var(--yr) * calc(var(--lh) + 2));
}

.at {
  font-size: calc(var(--yr) * calc(var(--fs) - 0.5));
  line-height: calc(var(--yr) * calc(var(--lh) - 1));
}

.mt {
  font-size: calc(var(--yr) * calc(var(--fs) - 1));
  line-height: calc(var(--yr) * calc(var(--lh) - 1.5));
}

h1 {
  margin: 0 0 calc(var(--yr) * var(--s2));
}

h2, h3, p {
  margin: 0 0 calc(var(--yr) * var(--s2));

  &:last-child {
    margin: 0;
  }
}
