.root {
  padding: 0 calc(1 / 21 * 100%);
  margin: calc(var(--yr) * 8) 0 calc(var(--yr) * 32);
  display: flex;
  align-items: center;

  @media (--s) {
    margin: calc(var(--yr) * 24) 0 calc(var(--yr) * 32);
  }
}

.logo {
  padding: calc(var(--yr) * 6) 0;

  & svg {
    display: block;
    height: calc(var(--yr) * 4);
  }

  @media (--s) {
    padding: calc(var(--yr) * 5) 0;

    & svg {
      height: calc(var(--yr) * 6);
    }
  }
}

.get {
  margin-left: auto;

  & a {
    position: relative;
    display: inline-block;
    font-weight: var(--fw_bold);

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #999;
    }

    &:hover {
      &::after {
        animation-name: url;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
      }
    }
  }

  @media (--m) {
    width: calc(7 / 19 * 100%)
  }
}

@keyframes url {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
