.root {
  @media (--m) {
    display: grid;
    grid-template-columns: repeat(19, 1fr);

    & .intro {
      grid-column: span 7;
    }

    & .vacancies {
      margin-top: calc(var(--yr) * 20);
      grid-column: 9 / -1;
    }
  }
}

.intro {
  margin-bottom: calc(var(--yr) * var(--s3));
}
